doctype html
html(class=html_class)
	- base_link = ('home' == page ? '.' : '..')

	head
		meta(charset="UTF-8")
		meta(
			content="width=device-width, initial-scale=1"
			name="viewport"
		)

		title Ramda Documentation

		- href = base_link + "/style.css"
		link(
			href=href
			rel="stylesheet"
			type="text/css"
		)

		block styles

		block scripts

	body
		input#open-nav(type="checkbox")
		header.navbar.navbar-fixed-top.navbar-inverse.container-fluid
			.container-fluid
				.navbar-header
					label.open-nav(for="open-nav")
					a.navbar-brand(href="#")
						strong Ramda
						span.version  v#{version}

				ul.nav.navbar-nav.navbar-left
					- active = ('home' == page) ? 'active' : ''
					- href = base_link + "/"
					li(class=active): a(href=href) Home

					- active = ('docs' == page) ? 'active' : ''
					- href = base_link + "/docs/"
					li(class=active): a(href=href) Documentation

					- active = ('repl' == page) ? 'active' : ''
					- href = base_link + "/repl/"
					li(class=active): a(href=href) Try Ramda

				ul.nav.navbar-nav.navbar-right
					li: a(href="https://github.com/ramda/ramda") GitHub
					li: a(href="https://gitter.im/ramda/ramda") Discuss

		block main

		script.
			window.gitter = {
				chat: {
					options: {
						room: 'ramda/ramda'
					}
				}
			}

		script(
			async
			defer
			src="https://sidecar.gitter.im/dist/sidecar.v1.js"
		)
